@import '../../../../../style/theme.scss';


.cardLoginFL {
  
  &-content {

    &-item {
      display: flex;
      flex: 1;
      margin-bottom: 24px;
      // border-bottom: 1px solid $color-line;
      color: #eee;
      background: $color-background;
      border-radius: 20px;
      height: 100px;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      margin-top: 4px;

      &-input {
        margin-left: 0;
        color: $color-semi;
        font-size: 32px;
        color: #202124;
        height: 50px;
        width: 480px;
        padding: 25px 48px;
        padding-right: 8px;
      }

      &-rand {
        height: 80px;
        margin: 20px;
      }
    }
  }
}
