@import '../../../../style/theme.scss';


@keyframes calendar-in {
  0% {
    opacity: 0;
    transform: scaleY(.2);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.eventTimePicker {
  // padding: 0 36px;
  // background-color: red;

  &-dayLine {
    display: flex;
    justify-content: space-between;
    padding: 0 36px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &_arrow {
        position: absolute;
        bottom: -26px;
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 14px 0;
      box-sizing: border-box;
      width: 78px;
      height: 105px;
      border-radius: 18px;
      font-size: 28px;
      background-color: #ebeef3;
      color: #acafbe;
      box-shadow: 0px 0px 0px #aaa;
      animation-duration: 0.2s;
      animation-timing-function: linear;

      &_active {
        color: #ffffff;
        box-shadow: 6px 8px 15px #aaa;
        animation-duration: 0.2s;
        animation-timing-function: linear;
      }

      &_static {
        animation: none;
      }
    }
  }

  &-calendar {
    position: relative;
    animation: calendar-in .35s forwards;
    margin-bottom: 72px;
    padding: 0 36px;

    &-back {
      z-index: 4;
      position: absolute;
      bottom: -72px;
      font-size: 27px;
      width: 678px;
      padding: 12px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      background-color: #ffffff;

      &:active {
        opacity: 0.5;
      }
    }
  }
}
