@import "../../../../../../style/theme.scss";


.datePickerFL {
  color: $color-semi;

  &-content {
    padding: 24px;

  }

  &-footer {
    padding: 0 48px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &-btnBox {
      width: 100%;
    }

    &_blank {
      width: 52px;
    }
  }
}
